# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
dist/
out-tsc/
coverage/

# Build artifacts
*.log
*.tsbuildinfo

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Env files
.env
.env.*
